################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FluentCreativity.Core/FluentCreativity.Core/obj
