################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FluentCreativity.Core/FluentCreativity.Core/obj
/FluentCreativity.Core/.vs/FluentCreativity.Core/v16
/FluentCreativity.Core/.vs/FluentCreativity/v16
/FluentCreativity.Core/FluentCreativity.Core/bin/Debug/netstandard2.0
